*{
    /* background-color: rgba(255,0,0,0.05); */
}

.hidden {
  display: none;
}

.container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1216px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1458px;
  }
}
