/* 
    2xl:1536px
    xl:1280px   56px
    lg:1024    47px
    md:768    39px
    sm:576 / 640  32 px  // mobile landspace 
    27:px  // below 576px or 640px  = mobile


*/

nav {
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}


.logo-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  fill: var(--primary-color)
}

.hamburger {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.drawer {
  background-color: orange;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2rem;
  width: 50vw;
  transform: translateX(100%);
  transition: all .5s;
}
.drawer.open{
  transform: translateX(0%);
}
.close{
  cursor: pointer;
  font-size: 2rem;
}

.drawer a:hover{
  color:var(--primary-color)
  
}

nav button{
  text-transform: capitalize;
}

/* tablet */
@media (min-width: 768px) {
  nav {
    padding-top: 39px;
  }
}

/* small laptop */
@media (min-width: 1024px) {
  nav {
    padding-top: 47px;
  }
  .hamburger {
    display: none;
  }
  .drawer {
    flex-grow: 1;
    position: static;
    transform: none;
    background-color: transparent;
    display: flex;
    padding: 0;
    width: auto;
    justify-content: space-between;
    align-items: center;
  }
  .close{
    display: none;
  }
  .drawer ul{
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}


/* deskotop */
@media (min-width: 1280px) {
  nav {
    padding-top: 56px;
  }
}

/* larger desktop .. monitor */
@media (min-width: 1536px) {
  nav {
    padding-top: 56px;
  }
}
